<a href="https://colab.research.google.com/github/MK1122mk/AI/blob/main/ass_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import math as mt
import random
import pandas as pd

In [6]:
data = pd.read_excel('/content/drive/MyDrive/Ai Dataset/slr09.xls')
data.head()

*** No CODEPAGE record, no encoding_override: will use 'ascii'

     X    Y
0  7.6  157
1  7.1  174
2  8.2  175
3  7.5  188
4  7.4  171

In [7]:
data['X']

0     7.6
1     7.1
2     8.2
3     7.5
4     7.4
5     7.8
6     7.3
7     8.0
8     7.1
9     7.5
10    8.1
11    7.0
12    7.3
13    7.8
14    7.3
15    8.0
16    8.5
17    7.1
18    8.2
19    7.9
20    7.6
21    8.8
22    7.2
23    7.9
24    8.1
25    7.7
26    8.4
27    7.4
28    7.3
29    8.5
30    7.8
31    6.7
32    7.1
33    7.3
Name: X, dtype: float64

In [8]:
outliers = []
def detect_outliers_zscore(data):
    thres = 3
    mean = np.mean(data)
    std = np.std(data)
    # print(mean, std)
    for i in data:
        z_score = (i-mean)/std
        if (np.abs(z_score) > thres):
            outliers.append(i)
    return outliers# Driver code

In [9]:
sample_outliers_X = detect_outliers_zscore(data['X'])
sample_outliers_Y = detect_outliers_zscore(data['Y'])
print("Outliers in X column from Z-scores method: ", sample_outliers_X)
print("Outliers in Y column from Z-scores method: ", sample_outliers_Y)

Outliers in X column from Z-scores method:  []
Outliers in Y column from Z-scores method:  []

In [10]:
from scipy.stats import zscore
zX = np.abs(zscore(data['X']))
zY = np.abs(zscore(data['X']))
data['ZscoreX'] = zX
data['ZscoreY'] = zY
outliers_X=len(data[data['ZscoreX']>3])
outliers_Y=len(data[data['ZscoreY']>3])
data_z = data[data['ZscoreX']<3]
data=data_z.drop(['ZscoreY', 'ZscoreY'], axis=1)
data

      X    Y   ZscoreX
0   7.6  157  0.125007
1   7.1  174  1.136965
2   8.2  175  1.089344
3   7.5  188  0.327398
4   7.4  171  0.529790
5   7.8  143  0.279777
6   7.3  217  0.732182
7   8.0  190  0.684560
8   7.1  142  1.136965
9   7.5  190  0.327398
10  8.1  215  0.886952
11  7.0  199  1.339357
12  7.3  262  0.732182
13  7.8  105  0.279777
14  7.3  121  0.732182
15  8.0   81  0.684560
16  8.5   82  1.696519
17  7.1  210  1.136965
18  8.2  202  1.089344
19  7.9  155  0.482168
20  7.6  157  0.125007
21  8.8  147  2.303694
22  7.2  133  0.934573
23  7.9   53  0.482168
24  8.1   56  0.886952
25  7.7  113  0.077385
26  8.4   35  1.494127
27  7.4  125  0.529790
28  7.3   76  0.732182
29  8.5   48  1.696519
30  7.8  147  0.279777
31  6.7  117  1.946532
32  7.1  182  1.136965
33  7.3   87  0.732182

In [11]:
print(data.isnull().sum())

X          0
Y          0
ZscoreX    0
dtype: int64

In [12]:
m1=data['X'].mean()
m2=data['Y'].mean()
data['X'].fillna(value=m1, inplace=True)
data['Y'].fillna(value=m2, inplace=True)
data

      X    Y   ZscoreX
0   7.6  157  0.125007
1   7.1  174  1.136965
2   8.2  175  1.089344
3   7.5  188  0.327398
4   7.4  171  0.529790
5   7.8  143  0.279777
6   7.3  217  0.732182
7   8.0  190  0.684560
8   7.1  142  1.136965
9   7.5  190  0.327398
10  8.1  215  0.886952
11  7.0  199  1.339357
12  7.3  262  0.732182
13  7.8  105  0.279777
14  7.3  121  0.732182
15  8.0   81  0.684560
16  8.5   82  1.696519
17  7.1  210  1.136965
18  8.2  202  1.089344
19  7.9  155  0.482168
20  7.6  157  0.125007
21  8.8  147  2.303694
22  7.2  133  0.934573
23  7.9   53  0.482168
24  8.1   56  0.886952
25  7.7  113  0.077385
26  8.4   35  1.494127
27  7.4  125  0.529790
28  7.3   76  0.732182
29  8.5   48  1.696519
30  7.8  147  0.279777
31  6.7  117  1.946532
32  7.1  182  1.136965
33  7.3   87  0.732182

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(data.X, data.Y, test_size = 0.20, random_state = 10)

In [38]:
m1=random.uniform(-1,1)
m2=random.uniform(-1,1)
c=random.uniform(-1,1)
eta=0.0001
max_iter=10

In [39]:
def gradient(m1,m2,c,x,y):
  m1_deriv=-1*(y-m1*x*x-m2*x-c)*x*x
  m2_deriv=-1*(y-m1*x*x-m2*x-c)*x
  c_deriv=-1*(y-m1*x*x-m2*x-c)
  return m1_deriv,m2_deriv,c_deriv

In [40]:
for iter in range(max_iter):
  for sample in range(x_train.shape[0]):
    del_m1,del_m2,del_c=gradient(m1, m2, c, x_train.iloc[sample], y_train.iloc[sample])
    m1=m1-eta*del_m1
    m2=m2-eta*del_m2
    c=c-eta*del_c
print('model parameter m1, m2 and c',m1,m2,c)

model parameter m1, m2 and c 2.3183463838843013 1.0167164973482046 0.09774995344238602

In [41]:
y_pred_train = []
for i in x_train:
  y_p_tr = (m1 * i*i)+(m2 * i) + c
  y_pred_train.append(y_p_tr)
y_pred_train = np.array(y_pred_train)

In [42]:
y_pred_test = []
for i in x_test:
  y_p_te = (m1 * i*i)+(m2 * i) + c
  y_pred_test.append(y_p_te)
y_pred_test = np.array(y_pred_test)

In [43]:
import math
from sklearn.metrics import mean_squared_error 
from sklearn.metrics import mean_absolute_error


#Training Accuracies
rmse = math.sqrt(mean_squared_error(y_train, y_pred_train)) 
print('Root mean square error', rmse) 
mse = (mean_squared_error(y_train, y_pred_train)) 
print('Mean square error', mse) 
mae=mean_absolute_error(y_train, y_pred_train)
print('Mean absolute error', mae)

Root mean square error 62.83321566523894
Mean square error 3948.0129908344284
Mean absolute error 50.86233301961592

In [44]:
#Testing Accuracies
mse = (mean_squared_error(y_test, y_pred_test)) 
print('Mean square error', mse)
mse = mt.sqrt(mean_squared_error(y_test, y_pred_test)) 
print('Root mean square error', mse)  
mae=mean_absolute_error(y_test, y_pred_test)
print('Mean absolute error', mae)

Mean square error 4412.860213771929
Root mean square error 66.42936258742762
Mean absolute error 48.024614558693465

In [45]:
x=input("Enter value of input")
estimation=m1*float(x)*float(x)+m2*float(x)+c
print("estimated output:",estimation)

Enter value of input8
estimated output: 156.60565050082332